{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8">

		
		
		<title> Signin </title>
		
		<link rel="stylesheet" href="{% static 'signin.css' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'logo_hiae.png' %}">
				
	</head>

	

	
	
	<body>

		<div id="rectangle"></div>
		<div>
			<img src="{% static 'logo_hiae.png' %}" alt="logo" class="img2">
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="div2">
			<h1 class="h1_acesse_aq"> Acesse aqui </h1>
		</div>

		<form method="post">
			{% csrf_token %}
			<div class = 'form_username'>
			  <label for="username">Usuário:</label> <br>
			  <input  type="username" name="username" required> <br><br><br>
			<div>
			  <label for="password">Senha:</label><br>
			  <input  type="password" name="password" required> 
			</div>
			<style>
				.alert {
					color: red;
				}
			</style>
			{% if form.errors %}
			<div class="alert alert-danger">
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
						{{ error }}
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}	
			<br>
			<br>
			<button class="btn_signin" type="submit">Sign in</button>
		</form>
			<br>
			<br>
		<div class="container" style="background-color:#f1f1f1">
			<span class="psw">  <a class = 'btn_signin' href="#">Esqueci minha senha</a></span>
			<br>
			<br>
			<a class="link" tabindex="-1" aria-disabled="true" href="../signup">
				<input value= "Cadastre aqui" class="btn_signin" type="button">
			</a>
		</div>
	</body>
</html>