<!DOCTYPE html>
<html>
<head>
    <title>My HTML page</title>
	
</head>


<script>
	function callSemiFunction() {
		var request = new XMLHttpRequest();
		var url = '/semi/';
		request.open('POST', url, true);
		request.setRequestHeader('Content-Type', 'application/json');
		request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
		request.onload = function() {
		  if (request.status >= 200 && request.status < 400) {
			console.log('Semi function called successfully!');
		  } else {
			console.log('Failed to call semi function.');
		  }
		};
		request.onerror = function() {
		  console.log('Failed to call semi function.');
		};
		request.send(JSON.stringify({}));
	  }
	  
	  function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
		  var cookies = document.cookie.split(';');
		  for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].trim();
			if (cookie.substring(0, name.length + 1) === (name + '=')) {
			  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			  break;
			}
		  }
		}
		return cookieValue;
	  }
	  var semiButton = document.getElementById('semi-button');
	semiButton.addEventListener('click', callSemiFunction);
</script>


<form method="POST">
  {% csrf_token %}
  <button type="submit">Ação</button>
</form>

</html>
